<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="my.jenny.finance.dao.StockRecordDao">

    <sql id="stockRecordSql">
        id, stock_code, stock_name, price, amount, turnover, transaction_time, transaction_type,
        commission, stamp_duty, transfer_fee, create_time
    </sql>

    <select id="findAllStockRecords" resultType="StockRecord">
        SELECT
            <include refid="stockRecordSql" />
        FROM stock_record
    </select>

</mapper>